{% assign author_name = site.author.name %}

{% if site.author.url %}
  {% assign author_url = site.author.url | relative_url %}
{% endif %}

{% if author_name %}
  {% capture author_link -%}
    Written by
    {% if author_url -%}
      <a href="{{ author.url }}" target="_blank" rel="noopener noreferrer">
    {%- endif -%}
    {{ author_name }}
    {%- if author_url -%}
      </a>
    {%- endif -%}
    .
  {%- endcapture %}
{% endif %}

{%- assign copyright_owner_name = site.copyright.owner.name 
    | default: 'CNM Ingenuity, Inc.' -%}
{%- assign copyright_owner_url = site.copyright.owner.url 
    | default: 'https://cnmingenuity.org/' 
    | relative_url -%}

{% if site.copyright.page.url %}
  {% assign copyright_page_url = site.copyright.page.url | relative_url %}
{% endif %}

{% capture copyright_link %}
  {%- if site.copyright != false -%}
    {%- if copyright_page_url -%}
      <a href="{{ copyright_page_url }}">
    {%- endif -%}
    &copy;
    {% assign latest_year = "now" | date: "%Y" %}
    {% assign start_year = site.copyright.start_year %}
    {%- if start_year and start_year != latest_year -%}
      {{ start_year }}&ndash;
    {%- endif -%}
    {{ latest_year }}
    {% unless copyright_page_url -%}
      {% if copyright_owner_url -%}
        <a href="{{ copyright_owner_url }}" target="_blank">
      {%- endif -%}
    {%- endunless -%}
    {{ copyright_owner_name }}
    {%- unless copyright_page_url -%}
      {%- if copyright_owner_url -%}
        </a>
      {%- endif -%}
    {%- endunless %}
    All rights reserved.
    {%- if copyright_page_url -%}
      </a>
    {%- endif -%}
  {%- endif -%}
{% endcapture %}
